/* Unvisited link */
a:link{
    color: red;
}

/* Visited link */
a:visited{
    color: green
}

/* Hover link */
a:hover{
    text-decoration: underline;
    border: 2px solid;
}

/* Active link */
a:active{
    color:aquamarine;
}

/*Link Focus*/
input:focus{
/* background-color: brown; */
border: solid;
border-style: dashed;
border-color: blue;
}

div p:first-child{
    color: aqua;
}

div.first p:first-child{
    color: purple;
}

.nthoftype p:last-child{
    color: royalblue;
}
li:nth-child(2){
    background: red;
}

input:disabled{
    background-color: lightseagreen;
}

p:nth-of-type(2){
    background: red;
}

p:nth-0f-type(2){
    background-color: cyan;
}

input[type="checkbox"]:checked + label {
    background-color: yellow;

}

input[type="radio"]:checked + label {
    background-color: yellow;
}
p::before{
    content: "Note: ";
    font-weight: bold;
    color: red;
}

p::after{
    content: "[end]";
    font-style : italic;
    color: blue;
}
.box{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
}

/* Cleafix example */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* List Marker */
::marker{
    color: yellow;
}

::selection{
    color: brown;
    background-color: blue;

}
p::first-letter{
    font-size: 42px;
    color: blue;
}

h2::first-letter{
    font-size: medium;
    font-weight: 500;
    font-family: cursive;

}
/* Tooltip */

.tooltip p{
    display: none;
    background-color: blue;
    color:bisque;
    width: 100px;
}

div.tooltip:hover p {
    display: block;
    
}